{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "AVOS" %}{% endblock %}

{% block css %}
  {% include "_stylesheets.html" %}
  <link href='{{ STATIC_URL }}dashboard/css/style.css' type='text/css' media='screen' rel='stylesheet' />
{% endblock %}

{% block main %}

<!-- <iframe src="http://192.168.57.20:8080/" style="height: calc(100%); width: 100%; overflow: hidden; min-height: 1022px" id="avosframe"></iframe> -->

<!-- <script type='text/javascript' src='{{ STATIC_URL }}dashboard/js/jquery-latest.js'></script> -->
<script type='text/javascript' src='{{ STATIC_URL }}dashboard/js/jquery-layout-latest.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}dashboard/js/jquery.dataTables.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}dashboard/js/jquery.fittext.js'></script>
<!-- <script type='text/javascript' src="{{ STATIC_URL }}dashboard/js/d3.js"></script> -->
<script type='text/javascript' src="{{ STATIC_URL }}dashboard/js/heatmap.js"></script>
<!-- <script type='text/javascript' src="{{ STATIC_URL }}dashboard/js/rickshaw.js"></script> -->
<!-- <script type='text/javascript' src="{{ STATIC_URL }}dashboard/js/bootstrap.js"></script> -->
<!-- <script type='text/javascript' src='{{ STATIC_URL }}dashboard/js/credentials.js'></script> -->
<script type='text/javascript' src='{{ STATIC_URL }}dashboard/js/utils.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}dashboard/js/main.js'></script>

<div class="layoutwrap" unresolved  ng-controller="avosCtrl">
<div  class='ui-layout-container'>

	<!-- Modal -->
<!-- 	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <img src="{{ STATIC_URL }}dashboard/img/ciscologo.png" style="float: right; margin-right: 20px; margin-top: -10px" height="45" />
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body" id="myModalBody">
	        
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div> -->

	<!-- Large Modal -->
<!-- 	<div class="modal fade bs-example-modal-lg" id="myLargeModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" style="width: 80%; max-width: 1000px">
	    <div class="modal-content">
			<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <img src="{{ STATIC_URL }}dashboard/img/ciscologo.png" style="float: right; margin-right: 20px; margin-top: -10px" height="45" />
	        <h4 class="modal-title" id="myLargeModalLabel">Network Plot</h4>
	      </div>
	      <div class="modal-body" id="myLargeModalContent" style="text-align: center;">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div> -->

<!-- Search -->
<div class="btn-group" id="fake-search" ng-click="search=true; " is-active="$scope.search" click-anywhere-but-here="toggleSearch(false)" style="{[{search ? 'width: 400px' : 'width: 200px'}]}" >
    <div class="input-group" style="width: 100%">
    <div class="form-group has-feedback">
      <input tabindex="0" type="text" class="form-control" placeholder="StackSearch..." ng-click="toggleSearch(true)" ng-model="searchText">
      <i class="glyphicon glyphicon-search form-control-feedback"></i>
	</div>
	<div class="input-group-btn {[{search ? 'open' : ''}]}" >
		<ul class="dropdown-menu pull-right" ng-show="search" id="entity-table" style="{[{search ? 'opacity: 1' : 'opacity: 0'}]}">
		<!--<li ng-repeat="type in entityTypes"><a href="#"><span class="glyphicon glyphicon-{[{type.state ? 'check' : 'unchecked'}]}"> {[{type.name}]}</span></a></li> -->
		<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped datatable nomargin" >
			<thead>
				<tr>
					<th></th>
					<!-- <th>ID</th> -->
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="entity in clusterdata | filter:searchText | orderBy:name:reverse">
					<td style="padding-top: 5px; width: 30px">
						<svg height="25" width="25">
							<circle cx="12" cy="12" r="12" stroke="black" stroke-width="0" fill="grey" />
							<svg-path-replace d="{[{entity.path}]}" fill="white" transform="scale(0.75)"></svg-path-replace>
							<!-- <path title="{[{entity.type}]}" d="{[{entity.path}]}" fill="grey" transform="scale(0.75)"/> -->
						</svg>
					</td>
					<!-- <td>{[{entity.id}]}</td> -->
					<td>{[{entity.name}]}</td>
				</tr>
			</tbody>
		  </table>
		</ul>
	</div>
    </div>
</div>

<div id='pane-east' class='ui-layout-east ui-layout-pane ui-layout-pane-east' style="display: none">
	<div id="entity-details"></div>
</div>

<div id='pane-center' class='ui-layout-center ui-layout-pane ui-layout-pane-center ui-layout-pane-hover ui-layout-pane-center-hover ui-layout-pane-open-hover ui-layout-pane-center-open-hover'>
	<div class="bottom">
		<div class="btn-group">
			<button ng-repeat="button in buttons" ng-if="button.side=='right'" id="button-toggle-{[{button.id}]}" type="button" class="btn btn-default {[{button.state ? 'active' : ''}]}" datatoggle="button" title="{[{button.title}]}" ng-click="button.funct(); button.state = !button.state"><span class="glyphicon glyphicon-{[{button.icon}]}"></span></button>
		</div>
	</div>

	<div class="bottom right">
		<div class="btn-group">
			<button ng-repeat="button in buttons" ng-if="button.side=='left'" id="button-toggle-{[{button.id}]}" type="button" class="btn btn-default" datatoggle="button" title="{[{button.title}]}" ng-click="button.funct()"><span class="glyphicon glyphicon-{[{button.icon}]}"></span></button>
			<div class="btn-group dropup">
				<button id="btn-toggle-home" type="button" class="btn btn-default dropdown-toggle" title="Show Whole Cluster" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></button>
				<ul class="dropdown-menu pull-right" role="menu">
				    <li><a href="#">Heatmap</a></li>
				    <li><a href="#" onclick="openNetworkPlot()">Network</a></li>
				    <li><a href="#">Graphs</a></li>
				    <li class="divider"></li>
				    <li><a href="#">Turn off all elements</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
</div>
    {{ table.render }}
{% endblock %}
