{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "AVOS" %}{% endblock %}

{% block css %}
  {% include "_stylesheets.html" %}
  <link href='{{ STATIC_URL }}dashboard/css/style.css' type='text/css' media='screen' rel='stylesheet' />
{% endblock %}

{% block main %}
<script type='text/javascript' src="{{ STATIC_URL }}dashboard/js/heatmap.js"></script>
<script type='text/javascript' src='{{ STATIC_URL }}dashboard/js/utils.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}dashboard/js/main.js'></script>

<div class="layoutwrap" unresolved  ng-controller="avosCtrl">
	<div  class='ui-layout-container'>

		<div id='pane-east' class='ui-layout-east ui-layout-pane ui-layout-pane-east {[{selectedNode ? "panelopen" : ""}]}' style="width: 0" ng-style="{width: selectedNode ? eastPaneWidth + 'px' : '0'}" >
			<div id="entity-details" ng-if="selectedNode" style="width: {[{eastPaneWidth}]}px">

				<button id="closepanel" type="button" class="close" aria-label="Close" ng-click="selectNode()"><span aria-hidden="true">&times;</span></button>

				<h2>{[{selectedNode.name}]}</h2>

				<svg height="35" width="38">
					<circle cx="18" cy="18" r="16" stroke="black" stroke-width="0" ng-attr-fill="{[{selectedNode.nodeColor}]}" ng-attr-stroke="{[{getServerStateColor(selectedNode.status)}]}" ng-attr-stroke-width="{[{ selectedNode.class == 'servers' ? 2 : 0 }]}"/>
					<path ng-attr-d="{[{selectedNode.nodePath}]}" fill="white" transform="scale(1)"></path>
				</svg>
				<div class="btn btn-default" style="background: {[{ serverStateColor[selectedNode.status] || serverStateColor['BUILD'] }]}">{[{selectedNode.status}]}</div>

				<hr />

				<!-- Specs -->
				<table class="table detailstable" ng-if="selectedNode.flavor">
					<caption>VM Specs</caption>
					<tbody>
						<tr ng-repeat="(key, value) in selectedNode.subnets">
							<td title="{[{key}]}"><a ng-click="selectNode()">{[{key}]}</a></td>
							<td>{[{value}]}</td>
						</tr>
					</tbody>
				</table>

				<!-- Networks -->
				<table class="table detailstable" ng-if="selectedNode.addresses">
					<caption>Networks</caption>
					<thead>
						<tr>
							<th>Network</th>
							<th>Addresses</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, value) in selectedNode.addresses">
							<td title="{[{key}]}"><a ng-click="selectNode(key)">{[{key}]}</a></td>
							<td><div ng-repeat="address in value">{[{address.addr}]}</div></td>
						</tr>
					</tbody>
				</table>

				<!-- Volumes -->
				<table class="table detailstable" ng-if="selectedNode.volumes.length">
					<caption>Volumes</caption>
					<thead>
						<tr>
							<th>Volume</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="volume in selectedNode.volumes">
							<td title="{[{volume.name}]}"><a ng-click="selectNode(volume)">{[{volume.name}]}</a></td>
							<td>{[{volume.status}]}</td>
						</tr>
					</tbody>
				</table>

				<!-- Volume Attachments -->
				<table class="table detailstable" ng-if="selectedNode.attachments.length">
					<caption>Attachments</caption>
					<thead>
						<tr>
							<th>Attachment</th>
							<th>Device</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="connection in selectedNode.attachments">
							<td title="{[{clusterdata.lookup[connection.server_id].name}]}"><a ng-click="selectNode(clusterdata.lookup[connection.server_id])">{[{clusterdata.lookup[connection.server_id].name}]}</a></td>
							<td>{[{connection.device}]}</td>
						</tr>
					</tbody>
				</table>

				<!-- Subnets -->
				<table class="table detailstable" ng-if="selectedNode.subnets.length">
					<caption>Subnets</caption>
					<thead>
						<tr>
							<th>Name</th>
							<th>Range</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, value) in selectedNode.subnets">
							<td title="{[{key}]}"><a ng-click="selectNode()">{[{key}]}</a></td>
							<td>{[{value}]}</td>
						</tr>
					</tbody>
				</table>

				<!-- External Gateway -->
				<table class="table detailstable" ng-if="selectedNode.external_gateway_info">
					<caption>External Gateway</caption>
					<tbody>
						<tr>
							<td>snat</td>
							<td>{[{selectedNode.external_gateway_info.enable_snat ? "Enabled" : "Disabled"}]}</td>
						</tr>
						<tr>
							<td>Network</td>
							<td title="{[{ clusterdata.lookup[ selectedNode.external_gateway_info.network_id ].name }]}"><a ng-click="selectNode( clusterdata.lookup[ selectedNode.external_gateway_info.network_id ] )" >{[{ clusterdata.lookup[ selectedNode.external_gateway_info.network_id ].name }]}</td>
						</tr>
						<tr><td colspan="2" class="text-center">External IPs</td></tr>
						<tr ng-repeat="ip in selectedNode.external_gateway_info.external_fixed_ips">
							<td title="{[{ip.subnet_id}]}"><a ng-click="selectNode()">{[{ip.subnet_id}]}</a></td>
							<td>{[{ip.ip_address}]}</td>
						</tr>
					</tbody>
				</table>

				<!-- Raw -->
				<table class="table detailstable">
					<caption>Raw</caption>
					<thead>
						<tr>
							<th>Key</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, value) in selectedNode" ng-if=" doWeDisplayThis(key) ">
							<td title="{[{key}]}">{[{key}]}</td>
							<td>{[{value}]}</td>
						</tr>
					</tbody>
				</table>


				<!-- {[{selectedNode}]} -->

			</div>
		</div>

		<div id='pane-center' class='ui-layout-center ui-layout-pane ui-layout-pane-center ui-layout-pane-hover ui-layout-pane-center-hover ui-layout-pane-open-hover ui-layout-pane-center-open-hover' style="display: none;" ng-style="{display: 'block'}">

		</div>

		<!-- Search -->
		<div class="btn-group" id="fake-search" ng-click="search=true; " is-active="$scope.search" click-anywhere-but-here="toggleSearch(false)" style="{[{search ? 'width: 300px' : 'width: 200px'}]}; margin-right: {[{selectedNode ? eastPaneWidth : '0'}]}px; " >
			<div class="input-group" style="width: 100%">
				<div class="form-group has-feedback">
					<input tabindex="0" type="text" class="form-control" placeholder="StackSearch..." ng-click="toggleSearch(true)" ng-model="searchText">
		  			<i class="glyphicon glyphicon-search form-control-feedback" style="top: auto"></i>
					<div class="input-group-btn {[{search ? 'open' : ''}]}" ng-show="search" id="entity-table" style="{[{search ? 'opacity: 1' : 'opacity: 0'}]}">
						<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped datatable nomargin" >
							<tbody>
								<tr ng-repeat="node in clusterdata.nodes | filter:searchText | limitTo: 10">
									<td style="padding: 3px">
										<svg height="35" width="38">
											<circle cx="18" cy="18" r="16" stroke="black" stroke-width="0" ng-attr-fill="{[{node.nodeColor}]}" ng-attr-stroke="{[{getServerStateColor(node.status)}]}" ng-attr-stroke-width="{[{ node.class == 'servers' ? 2 : 0 }]}"/>
											<path ng-attr-d="{[{node.nodePath}]}" fill="white" transform="scale(1)"></path>
										</svg>
									</td>
									<!-- <td>{[{entity.id}]}</td> -->
									<td>{[{node.name | cut:true:35}]}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div id="bottom-right" class="bottom right" style="margin-right: {[{selectedNode ? eastPaneWidth + 10 : '10'}]}px">
			<button ng-if="hintsOn" id="hint" type="button" class="btn btn-default btn-trans" title="{[{button.title}]}" ng-click="currentHint = getHint()" ><glyphicon icon="info-sign"></glyphicon> Tip: <span ng-bind="currentHint"></span><div class="arrow"></div></button>
			<div class="btn-group bot">
				<button ng-repeat="button in buttons" ng-if="button.side=='left'" id="button-toggle-{[{button.id}]}" type="button" class="btn btn-default" data-toggle="{[{button.toggle || 'button'}]}" data-placement="left" data-content="Hello" title="{[{button.title}]}" ng-click="button.funct()"><span class="glyphicon glyphicon-{[{button.icon}]}"></span></button>
			</div>
			<div class="btn-group-vertical bot">
				<button ng-repeat="button in buttons" ng-if="button.side=='right'" id="button-toggle-{[{button.id}]}" type="button" class="btn btn-default {[{button.state ? 'active' : ''}]}" datatoggle="button" title="{[{button.title}]}" ng-click="button.funct(); button.state = !button.state"><span class="glyphicon glyphicon-{[{button.icon}]}"></span></button>
			</div>
		</div>

	</div>
</div>
	{{ table.render }}
{% endblock %}
