from django.utils.translation import ugettext_lazy as _

import horizon

from openstack_dashboard.dashboards.admin import dashboard


class Avos(horizon.Panel):
    name = _("Avos")
    slug = "avos"


dashboard.Admin.register(Avos)
